@import './../../constants';

$mq-mobile-portrait		: 320px !default;
$mq-mobile-landscape	: 480px !default;
$mq-tablet-portrait		: 768px !default;
$mq-tablet-landscape	: 1024px !default;
$mq-desktop				: 1382px !default;

// Everything larger than a landscape tablet
.footer {
    border-top: 1px solid #666;
}
footer {
    display: flex;
    justify-content: space-between;
}

@include desktop-and-up {

        footer {
            margin: 10px;
        }
        .footer {
            margin-top: 5px;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 5px;

        }
}
@include mobile-only {
        footer {
            margin-top: 10px !important;    
        }	

        .footer {
            margin-top: 5px;
            position: relative;
            width: 100%;
            padding: 0.5em;
        } 
}