@import '../../constants';
.grid {
    margin: 0 auto;
}

.grid-item {
    width: 20%;
    padding: 10px;
    margin: 5px auto;
    background-color: whitesmoke;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    text-align: center;
}

.grid-item--width2 {
    // width: 50%;
    width: 460px;
}

.description {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    background-color: rgba(#DFE2DB, 0.99);
}

img {
    width: 95%;
    background-image: url("https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAjnAAAAJGYwMjI2NWYxLWVjNjYtNDVmMS05MDYyLThkZmY1MWFhMjFjNA.jpg");
}

@include tablet-only {
    .grid-item {
        width: 45%;
    }
    .grid-item--width2 {
        // width: 50%;
        width: 90%;
    }
    img,
    .description {
        width: 90%;
        margin: 5px auto;
    }
}

@include mobile-only {
    .grid-item {
        width: 100%;
    }
    .grid-item--width2 {
        // width: 50%;
        width: 100%;
    }
    img,
    .description {
        width: 300px;
    }
}